.todo-container {
  display: flex;
  flex-direction: column;
  background-color: #c9c1c1;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.task-heading-add-task{
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  width: 60%;
}
.task-title-input{
  /* width: 80%; */
  padding: 10px;
  background-color: #98898962;
  border-radius: 5px;
  border: 1px solid black;

}
.task-desc textarea {
 width: 80%;   /*Full width of the parent */
  height: 120px; /* Fixed height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none; /* Prevent resizing */
  overflow: auto; /* Enable scrolling when text overflows */
  background-color: #98898962;
  border: 1px solid black;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #98898962;
}
button {
  background-color: #988989;
  color: rgb(40, 32, 32);
  border-radius: 6px;
  /* padding: 4px; */
}
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.task-item h2 {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.edit-button:hover {
  color: #ffa500;
}

.delete-button:hover {
  color: red;
}
input {
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  border: none;
  /* border-bottom: 1px solid #ddd; */
  margin-right: 10px;
}
editing-task-title {
  background-color: red;
  border-radius: 10px;
}
.task-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.task-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  flex-grow: 1;
  text-align: center;
}

.task-heading input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.task-desc {
  margin-top: 5px;
  color: #555;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.edit-button:hover {
  color: #ffa500;
}

.delete-button:hover {
  color: red;
}

.editing-task-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editing-task-buttons {
  display: flex;
  gap: 5px;
}